- name: Create a podman user if they don't exist (needs a vars: podman_user: "podman_user" in the playbook)
  ansible.builtin.user:
    name: "{{ podman_user }}"
    shell: /bin/bash
    state: present
  become: true

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: make sure basic packages are installed
  apt:
    name:
      - curl
      - wget
      - ca-certificates
      - gnupg
      - lsb-release
      - apt-transport-http
    state: present
    update_cache: true

 - name: Remove swap from fstab (persistent)
  ansible.posix.mount:
    name: "{{ item }}"
    fstype: swap
    state: absent
  loop: ["none", "swap"]
  become: true

- name: Set net.ipv4.ip_forward to 1
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: true
  become: true

 

