apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      # prometheus scraping itself - very optional.
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]

      # scraping pods that OPT-IN via annotations - again - no sidecar
      - job_name: "kubernetes-pods"
        kubernetes_sd_configs:
          - role: pod

        relabel_configs:
          # only scrape pods that explicitly say so
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true

          # custom metrics path
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)

          # replace port dynamically
          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: (.+):(?:\d+);(\d+)
            replacement: $1:$2
            target_label: __address__

