apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp
  namespace: argocd
spec:
  project: default

  destination:
    name: in-cluster
    namespace: default

  source:
    repoURL: git@github.com:engelsaugen/infra.git
    targetRevision: main
    path: manifests

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

