- name: Install Podman
  ansible.builtin.package:
    name: podman
    state: present
  become: true
  
- name: Ensure podman service dirs exist
  file:
    path: /etc/containers
    state: directory
    mode: '0755'
